header {
    background: #BBBBBB;
    padding: 20px 0;
}

.logoheader {
    width: 100px;
    height: 100px;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 1170px;      
}

nav {
    position: absolute;
    top: 40px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
}

footer {
   text-align: center;
   background: url("../img/bg.jpg");
   padding: 40px 0;
}

.copyright {
   color: white;
   font-size: 13px;
   margin-top: 20px;
}

@media (max-width: 600px) {
    nav {
        position: static;
    }

    .logoheader {
        width: 200px;
        height: 200px;
    }
}